
<div class="main-header">
  <div class="chat-name">
    <h1>room1</h1>
  </div>
  <div class="exit-button">
    <a href="#">チャットを終了する</a>
  </div>
</div>

<div class="main-contents">
  
   <div class="message">
     <div class="upper-message">
       <div class="message-name">kana aihara</div>
       <div class="date">2017/11/11</div>
     </div>
       <div class="lower-message">
         <div class="comment">hello</div>
       </div>
    </div>

    <div class="message">
     <div class="upper-message">
       <div class="message-name">mika</div>
       <div class="date">2017/11/11</div>
     </div>
       <div class="lower-message">
         <div class="comment">hi</div>
       </div>
    </div>
    

</div>

<div class="main-footer">
  <div class="form-input">
    <input placeholder="type a message" class="type-message">
   <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>
  <input type="submit" value="送信" class="send-button">

</div>







