<div class="message">
     <div class="upper-message">
       <div class="message-name">
       <%= message.user.name%> </div>
       <div class="date">
       <%= message.created_at%>
       </div>
     </div>
       <div class="lower-message">
         <div class="comment">
         <%= message.content%></div>
       </div>
    </div>

    