
<div class="side-header">
 <div class="user-button">
   <a href="#">Tom</a>
 </div>
 <div class="new-chat-button">
   <a href="#">チャットを作成する</a>
 </div>
</div>
<div class="side-contents">
 <div class="side-content">
   <div class="room-name">
     <a href="#">room1</a>
   </div>
 </div>

 <div class="side-content">
   <div class="room-name">
     <a href="#">room2</a>
   </div>
 </div>

</div>



